*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aboutme {
  background-color: white;
  height: 500px;
}

.portfolio {
  background-color: white;
  height: 500px;
}

.rates {
  background-color: white;
  height: 500px;
}

.scrollable {
  opacity: 0;
  will-change: opacity;
}

.is-visible {
  background-color: blue;
  -webkit-transition: all .5s .25s;
  -o-transition: all .5s .25s;
  transition: all .5s .25s;
  opacity: 1;
}

.adblocker-notice {
  display: none;
  width: 30rem;
  background-color: #FD862C;
  color: #0A213B;
  font-size: 2.0rem;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  -o-transition: transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  position: absolute;
  top: 10rem;
  left: 0;
}

.adblocker-notice__display {
  display: block;
  -webkit-animation: slideInLeft 5s .5s;
          animation: slideInLeft 5s .5s;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  80% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

header {
  -webkit-filter: drop-shadow(0 1rem 1rem black);
          filter: drop-shadow(0 1rem 1rem black);
}

.header {
  font-family: 'Josefin-Sans', sans-serif;
  position: relative;
  height: 95vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  background-image: -webkit-gradient(linear, left top, right bottom, from(#103d72), to(#5694db));
  background-image: -webkit-linear-gradient(top left, #103d72, #5694db);
  background-image: -o-linear-gradient(top left, #103d72, #5694db);
  background-image: linear-gradient(to bottom right, #103d72, #5694db);
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
      -ms-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  font-weight: 500;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10rem;
  text-align: center;
}

.header__name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  font-weight: bolder;
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f89d58), to(#d66610));
  background-image: -webkit-linear-gradient(top left, #f89d58, #d66610);
  background-image: -o-linear-gradient(top left, #f89d58, #d66610);
  background-image: linear-gradient(to bottom right, #f89d58, #d66610);
  -webkit-background-clip: text;
  padding: 1rem;
}

.header__slogan {
  text-transform: uppercase;
  font-size: 8rem;
  padding: 1rem;
}

.header__forename {
  margin-right: 1rem;
}

.header__forename::after {
  content: "Alex";
  position: absolute;
  top: .7rem;
  left: .7rem;
  color: black;
  z-index: -1;
  padding: 1rem;
}

.header__surname {
  margin-left: 1rem;
}

.header__surname::before {
  content: "Bunting";
  position: absolute;
  top: .7rem;
  right: .7rem;
  color: black;
  z-index: -1;
  padding: 1rem;
}
