*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin-Sans', sans-serif;
}

// fixed div at the top of the page so navigation doesnt jump
// when closing popups.
#a {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    visibility: hidden;
}

.scrollable {
   opacity: 0;
   will-change: opacity;
}

.is-visible {
   background-color: blue;
   transition: all .5s .25s;
   opacity: 1;
}