*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.aboutme {
   background-color: white;
   height: 500px;
}

.portfolio {
   background-color: white;
   height: 500px;
}

.rates {
   background-color: white;
   height: 500px;
}

.scrollable {
   opacity: 0;
   will-change: opacity;
}

.is-visible {
   background-color: blue;
   transition: all .5s .25s;
   opacity: 1;
}