*, *::before, *::after {
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

.header {
   position: relative;
   background-color: $color-primary-main;
   height: 95vh;
   clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
}

.aboutme {
   background-color: white;
   height: 500px;
}

.portfolio {
   background-color: white;
   height: 500px;
}

.rates {
   background-color: white;
   height: 500px;
}

.scrollable {
   opacity: 0;
   will-change: opacity;
}

.is-visible {
   background-color: blue;
   transition: all .5s .25s;
   opacity: 1;
}