$color-primary-light: #5694db;
$color-primary-main: #2877D2;
$color-primary-dark: #103d72;

$color-secondary-light: #f89d58;
$color-secondary: #FD862C;
$color-secondary-dark: #d66610;

$color-white: #fff;
$color-black: #0A213B;
