$color-primary-light: #63a6f3;
$color-primary-main: #2877D2;
$color-primary-dark: #082a52;

$color-secondary-light: #f8b582;
$color-secondary: #e47521;
$color-secondary-dark: #b35106;

$color-white: #fff;
$color-black: #0A213B;
