*, *::before, *::after {
   margin: 0;
   padding: 0;
}

html {
   font-size: 62.5%;
}

p {
   font-size: 2rem;
}

.aboutme {
   background-color: white;
   height: 500px;
}

.portfolio {
   background-color: white;
   height: 500px;
}

.rates {
   background-color: white;
   height: 500px;
}

.scrollable {
   opacity: 0;
   will-change: opacity;
}

.is-visible {
   background-color: blue;
   transition: all .5s .25s;
   opacity: 1;
}