.aboutme {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 5vw;
    padding-top: 10rem;

    &__image {
        position: relative;
        box-sizing: content-box;
        flex: 0 0 20vw;
        align-self: flex-start;
        
        &:hover .aboutme__picture {
            border: 3rem solid rgba($color-primary-main, .8);
            transform: scale(1.05);
            box-shadow: 0 1rem 2rem rgba(black, .3);
            filter: brightness(1.2);
        }

        // mobile portrait
        @media screen and (orientation: portrait) and (max-width: 600px) {
            display: none;
            width: 0;
        }
    }
    
    &__picture {
        width: 20vw;
        border-radius: 100%;
        border: 3rem solid rgba($color-primary-dark, .8);
        box-shadow: 0 .7rem 1.4rem rgba(black, .3);
        transition: all .2s;
    }

    &__content {
        flex: 1;
    }

    &__spiel {
        padding: 0 4rem;
        font-size: 2rem;
        line-height: 1.8;
        letter-spacing: .3rem;

        p:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__skills {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
        gap: 2rem;
        padding: 4rem;
        flex: 1;
        transition: all .2s;

        &:hover {
            transform: scale(0.95);
        }

        &:hover > * {
            filter: grayscale(1);
        }
    }

    &__skills-new {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        & > * {
            padding: 4rem;
            transition: all .2s;
        }

        & > *:hover {
            transform: scale(0.95);
            // filter: none;
        }

        &:hover > * {
            // filter: grayscale(1);
        }

        &--image {
            img { 
                height: 10rem;
                
                @media screen and (orientation: portrait) and (max-width: 600px) {
                    height: 7rem;
                } 
            }
        }

        &--longimage {
            img { 
                height: 8rem;
                
                @media screen and (orientation: portrait) and (max-width: 600px) {
                    height: 6rem;
                } 
            }
        }
    }

    // &__qualification {

    //     display: grid;
    //     position: relative;
    //     grid-template-columns: 6rem 1fr;
    //     align-items: center;

    //     background-color: rgba($color-secondary-light, .1);
    //     box-shadow: 0 1rem 2rem rgba(black, .3);
    //     padding: 2rem 4rem;
    //     transition: all .2s;

    //     &--image {
    //         grid-row: 1 / span 2;

    //         &--src {
    //             width: 6rem;
    //             transform: translateX(-2.5rem);
    //         }
    //     }

    //     &--skill {
    //         font-size: 2.0rem;
    //         font-weight: 700;
    //         color: $color-primary-dark;
    //         text-transform: uppercase;
    //         margin-bottom: 1rem;
    //     }

    //     &--detail {
    //         font-size: 1.6rem;
    //         font-style: italic;
    //         hyphens: auto;
    //     }
        
    //     &:hover {
    //         transform: translateY(-.3rem) scale(1.05);
    //         z-index: 10;
    //         box-shadow: 0 2rem 4rem rgba(black, .3);
    //         filter: grayscale(0);
    //     }
    // }

}