.aboutme {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7rem 5vw;
    padding-top: 10rem;

    &__image {
        position: relative;
        box-sizing: content-box;
        flex: 0 0 20vw;
        align-self: center;
        
        &:hover .aboutme__picture {
            border: 3rem solid rgba($color-primary-main, .8);
            transform: scale(1.05);
            box-shadow: 0 1rem 2rem rgba(black, .3);
            filter: brightness(1.2);
        }

        // mobile portrait
        @media screen and (orientation: portrait) and (max-width: 600px) {
            display: none;
            width: 0;
        }
    }
    
    &__picture {
        width: 20vw;
        border-radius: 100%;
        border: 3rem solid rgba($color-primary-dark, .8);
        box-shadow: 0 .7rem 1.4rem rgba(black, .3);
        transition: all .2s;
    }

    &__content {
        flex: 1;
    }

    &__spiel {
        padding: 0 4rem;
        font-size: 1.8rem;
        line-height: 1.8;
        letter-spacing: .3rem;

        p:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__skills {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(29rem, 1fr));
        gap: 2rem;
        padding: 4rem;
        flex: 1;
        transition: all .2s;

        &:hover {
            transform: scale(0.95);
        }

        &:hover > * {
            filter: grayscale(1);
        }
    }

    &__github {
        display: flex;
        align-items: center;
        padding: 4rem 4rem 0 4rem;

        @media screen and (max-width: 1100px) {
            flex-direction: column-reverse;
        }

        &--graph {
            flex: 1;

            img { 
                object-fit: contain;
                height: 100%;
                width: 100%;
            } 
        }

        &--desc {
            flex-basis: 30rem;

            @media screen and (max-width: 1100px) {
                flex: 1 0;
            }    

            p {
                font-size: 1.8rem;
                line-height: 1.8;
                letter-spacing: .3rem;
                padding: 1rem 2rem;
            }
        }


        // mobile portrait
        @media screen and (orientation: portrait) and (max-width: 600px) {
            flex-direction: column;
            padding-top: 2rem;

            &--graph {
                img {
                    object-fit: cover;
                }
            }

            &--desc {
                flex: 1 0;

                p {
                    padding: 1rem 0 1rem 0;
                }
            }
        }

    }

    &__skills-new {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        & > * {
            padding: 4rem;
            transition: all .2s;
        }

        & > *:hover {
            transform: scale(0.95);
            // filter: none;
        }

        &:hover > * {
            // filter: grayscale(1);
        }

        &--image {
            img { 
                height: 8rem;
                
                @media screen and (orientation: portrait) and (max-width: 600px) { height: 5rem; } 
            }
        }

        &--longimage {
            img { 
                height: 7rem;
                
                @media screen and (orientation: portrait) and (max-width: 600px) { height: 4rem; } 
            }
        }
    }
}