header {
    filter: drop-shadow(0 1rem 1rem black);
}

.header {

    font-family: 'Josefin-Sans', sans-serif;
    position: relative;
    height: 80vh;
    // clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    transform: skewY(-3deg) translateY(4rem);
    background-image: linear-gradient(to bottom right, $color-primary-dark, $color-primary-light);

    &__logo {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewY(3deg);
        
        font-weight: 500;

        display: flex;
        flex-direction: column;
        font-size: 10rem;

        text-align: center;
    }
    
    &__name {
        display: flex;
        flex-wrap: nowrap;
        font-weight: bolder;
        color: transparent;
        background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
        -webkit-background-clip: text;
        padding: 1rem;
    }

    &__slogan {
        font-size: 4rem;
        padding: 0;
        letter-spacing: 1rem;
    }

    // name Alex and Bunting
    &__forename {
        margin-right: 1rem;
        // custom text shadow
        &::after {
            content: "Alex";
            position: absolute;
            top: .7rem;
            left: .7rem;
            color: black;
            z-index: -1;
            padding: 1rem;
        }
    }
    
    &__surname {
        margin-left: 1rem;
        // custom text shadow
        &::before {
            content: "Bunting";
            position: absolute;
            top: .7rem;
            right: .7rem;
            color: black;
            z-index: -1;
            padding: 1rem;
        }
    }

    &__top {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5rem;
        background-color: $color-primary-dark;
    }

}

.menu {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: $color-primary-dark;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
        padding: 1rem 2rem;
        font-size: 2.5rem;
        font-weight: 600;
        color: $color-secondary;
        text-decoration: none;
        transition: transform .2s;

        &:hover {
            transform: translateY(-.6rem);
            text-shadow: 0 .4rem .1rem black;
        }
    }
}