header {
    filter: drop-shadow(0 1rem 1rem black);
}

.header {

    font-family: 'Josefin-Sans', sans-serif;
    position: relative;
    height: 80vh;
    // clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    transform: skewY(-3deg) translateY(4rem);
    background-image: linear-gradient(to bottom right, $color-primary-dark, $color-primary-light);

    &__logo {
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) skewY(3deg);
        
        font-weight: 500;

        display: flex;
        flex-direction: column;
        font-size: 10rem;

        text-align: center;
    }
    
      &__name {
         position: relative;
         display: flex;
         flex-wrap: nowrap;
         font-weight: bolder;
         color: transparent;
         background-image: linear-gradient(to bottom right, $color-secondary-light, $color-secondary-dark);
         background-clip: text;
         -webkit-background-clip: text;
         padding: 1rem;
         animation: letterSpacingMoveIn 1s .2s forwards;
         opacity: 0;
         overflow: hidden;

      //   &::after {
      //      content: "";
      //      position: absolute;
      //      left: 5rem;
      //      top: 0;
      //      height: 100%;
      //      width: 5rem;
      //      background-image: linear-gradient(to right, transparent, rgba(white, .5), transparent);
      //    }

      //    &:hover &::after {
      //       left: 15rem;
      //    }
    }

      &__slogan {
         font-size: 4rem;
         padding: 0;
         letter-spacing: 1rem;
         color: black;
         position: relative;

         &::after {
            content: "Web Design";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: transparent;
            background-image: linear-gradient(to right, transparent 0%, rgba(white, .8) 10%, transparent 100%);
            background-position-x: -10rem;
            background-repeat: no-repeat;
            
            -webkit-background-clip: text;
            background-clip: text;
            transition: all .5s;
         }
      }

      &__name:hover &__slogan::after {
         background-position-x: 30rem;
      }
         
      // name Alex and Bunting
      &__forename {
         margin-right: 1rem;
      }

      &__surname {
         margin-left: 1rem;
      }

      &__top {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 5rem;
         background-color: $color-primary-dark;
         transform: translateX(100%);
         animation: slideInRight .5s .5s forwards
      }

}

@keyframes letterSpacingMoveIn {
   0% {
      letter-spacing: 20rem;
      opacity: 0;
   }
   100% {
      letter-spacing: .5rem;
      opacity: 1;
   }
}

.menu {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: $color-primary-dark;
    transform: translate(-100%);
    animation: slideInLeft .5s .5s forwards;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
        padding: 1rem 2rem;
        font-size: 2.5rem;
        font-weight: 600;
        color: $color-secondary;
        text-decoration: none;
        transition: transform .2s;

        &:hover {
            transform: translateY(-.6rem);
            text-shadow: 0 .4rem .1rem black;
        }
    }
}

@keyframes slideInLeft {
   0% {
       transform: translateX(-100%);
   }
   100% {
       transform: translateX(0);
   }
}

@keyframes slideInRight {
   0% {
       transform: translateX(100%);
   }
   100% {
       transform: translateX(0);
   }
}