header {
    filter: drop-shadow(0 1rem 1rem black);
}

.header {

    position: relative;
    height: 50vw;
    max-height: 80vh;
    background-image: linear-gradient(to right, rgba($color-primary-dark, 0) 0, rgba($color-primary-light, 1) 90%), url(../../images/walkator-klMii3cR9iI-unsplash.jpg);
    background-size: cover;

    // mobile portrait
    @media screen and (orientation: portrait) and (max-width: 600px) {
        height: 100vh;
        max-height: 100vh;
    }

    &__logo {
        
        position: absolute;
        top: 50%;
        left: 99%;
        width: 100%;
        transform: translate(-100%, -50%); //skewY(3deg);
        
        font-weight: 700;

        display: flex;
        flex-direction: column;
        
        text-align: right;
        
        // background-color: rgba($color-primary-lightest, .8);
        padding: 1rem 2rem 2rem 2rem;
        // box-shadow: .2rem .4rem .2rem black;
        border-radius: 10px;
    }
    
    &__name {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: baseline;
        
        font-size: 10rem;
        color: transparent;
        background-image: linear-gradient(to bottom right, $color-secondary, $color-secondary);
        background-clip: text;
        animation: fadeIn 2s 1s forwards;
        opacity: 0;
        overflow: hidden;
        filter: drop-shadow(.2rem .2rem .2rem white);
        line-height: 1.2;
        
        padding: 2rem 0 2rem 5rem;

        @media screen and (max-width: 64em) {
            font-size: 8rem;
        }

        // mobile portrait
        @media screen and (orientation: portrait) and (max-width: 600px) {
            font-size: 6rem;
            letter-spacing: .4rem;
        }
    }

    &__text {
        // margin-top: 2rem;
        font-size: 1.6rem;
        letter-spacing: .3rem;
        line-height: 1.5;
        hyphens: none;
    }
    
    // name Alex and Bunting
    &__forename {
        font-weight: lighter;
    }

    &__surname {
        font-weight: bolder;
    }

    &__title {
        font-size: 2rem;
        position: relative;
        overflow: hidden;

        height: 5rem;

        &--fadeIn, &--fadeOut {
            animation-timing-function: ease-in-out;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-direction: forwards;
        }

        &--fadeIn { animation-name: fadeIn; }
        &--fadeOut { animation-name: fadeOut; } 


        &--basic {
            color: black;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 4rem;
            letter-spacing: .3rem;

            & > :nth-child(4) {
                width: 1rem;
            }
        }

        &--wordle {
            color: white;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            column-gap: .3rem;

            & > * {
                width: 4rem;
                height: 4rem;

                display: flex;
                align-items: center;
                justify-content: center;

                box-shadow: .1rem 0 .2rem rgba(black, .5);

                animation: rotate 1.5s ease-in-out 0s infinite alternate;
            }

            & > :nth-of-type(0) { background-color: green; animation-delay: 0s; }
            & > :nth-of-type(1) { background-color: orange; animation-delay: 0.1s; }
            & > :nth-of-type(2) { background-color: orange; animation-delay: 0.2s; }
            & > :nth-of-type(3) { background-color: gray; animation-delay: 0.3s; }
            & > :nth-of-type(4) { background-color: green; animation-delay: 0.4s; }
            & > :nth-of-type(5) { background-color: orange; animation-delay: 0.5s; }
            & > :nth-of-type(6) { background-color: orange; animation-delay: 0.6s; }
            & > :nth-of-type(7) { background-color: green; animation-delay: 0.7s; }
            & > :nth-of-type(8) { background-color: gray; animation-delay: 0.8s; }
            & > :nth-of-type(9) { background-color: gray; animation-delay: 0.9s; }
            & > :nth-of-type(10) { background-color: orange; animation-delay: 1s; }
            & > :nth-of-type(11) { background-color: gray; animation-delay: 1.1s; }
            & > :nth-of-type(12) { background-color: green; animation-delay: 1.2s; }
            & > :nth-of-type(13) { background-color: gray; animation-delay: 1.3s; }
        }
    }

}

.menu {

    width: 100%;
    height: 7rem;
    background-color: rgba($color-primary-dark, .6);
    transform: translate(-100%, -7rem);
    animation: slideInLeft .5s .5s forwards;

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;
    top: 7rem;

    z-index: 100;

    // mobile portrait
    @media screen and (orientation: portrait) and (max-width: 600px) {
        display: none;
    }

    a {
        padding: 1rem 3rem;
        font-size: 2.4rem;
        font-weight: 800;
        color: $color-secondary;
        text-decoration: none;
        transition: transform .2s, text-shadow .2s;
        text-shadow: 0 .1rem .05rem white;

        &:hover {
            transform: translateY(-.6rem) scale(1.5) rotate(2deg);
            text-shadow: 0 .2rem .1rem white;
        }
    }
}

 @keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
 @keyframes fadeOut { 0% { opacity: 1; } 100% { opacity: 0; } }
 @keyframes rotate { 0% { transform: rotateX(0deg); } 100% { transform: rotateX(180deg); }}