.portfolio {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: max-content max-content;
    gap: 1rem;
    margin: 1rem;

    padding-top: 10rem;

    &__minor {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
        display: flex;
        gap: 1rem;
        margin: 1rem;
        margin-bottom: 10rem;

        &--info {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color-primary-light, .7);
            width: 0%;
            height: 100%;
            clip-path: polygon(0 0, 100% 0%, 95% 100%, 0 100%);
            transition: all .2s;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--links {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            right: 0;
            background-color: rgba($color-secondary-light, .5);
            width: 0%;
            height: 100%;
            clip-path: polygon(19% 0, 4% 100%, 100% 100%, 100% 0);
            transition: all .2s;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
        }

        &--link {
            font-size: 1.5rem;
            padding: .5rem 1rem;
            border: .1rem solid white;
            box-shadow: .2rem 0 .4rem rgba(black, .5);
            border-radius: .5rem;
            transition: all .2s;
            letter-spacing: .1rem;
            margin-right: 2.5rem;
            width: 10rem;
            text-align: center;
            
            a, a:active, a:visited {
                color: white;
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
                transform: translateY(-.2rem);
                box-shadow: .4rem 0 .8rem rgba(black, .7);
                background-color: rgba(white, .3);
            }

            &:not(:last-of-type) { margin-bottom: .5rem; }
        }

        &--description {
            padding: 1rem 2rem;
            padding-right: 3rem;
            font-size: 1.5rem;
            line-height: 2.4rem;
            letter-spacing: .1rem;
        }

        &--skills {
            display: flex;
            align-items: baseline;
        }

        &--skill {
            padding: .5rem 1rem;
            img { height: 4.5rem; }
        }
        
        &--skill--small {
            img { height: 3.5rem; }
        }
    }

    &__container {
        background-image: linear-gradient(to bottom right, rgba($color-primary-main, .8), rgba($color-primary-light, .5));
        flex: 1;
        display: flex;
        height: 20vw;
        gap: 1rem;
        padding: 1rem 1rem;
        box-shadow: 0 .4rem 2rem black;
        transition: all .2s;
        
        &:hover {
            transform: scale(1.02);
            box-shadow: 0 .6rem 3rem black;
        }
    }

    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        
        &:hover .portfolio__text {
            opacity: 1;
            visibility: visible;
        }
    }
    
    &__item {
        
        transition: flex .6s, filter .6s;
        flex: 1;
        
        &--1 { grid-row: 1 / span 2; grid-column: 1 / 2;}
        &--2 { grid-row: 1 / span 2; grid-column: 2 / 3;}
        &--3 { grid-row: 1 / span 2; grid-column: 3 / 4;}
        &--4 { grid-row: 1 / span 2; grid-column: 4 / 5;}
        &--5 { grid-row: 1 / span 2; grid-column: 5 / 6;}
        
        &:hover {
            cursor: pointer;
            flex: 3;
        }
        
        &:not(:hover) {
            filter: grayscale(1);
        }
    }
    
    &__image, &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;     
    }
    
    &__text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1rem;
        margin-top: 1rem;

        border: 50% solid transparent;


        font-size: 2.4rem;
        font-weight: 800;
        text-shadow: 0 .2rem .2rem white;
        text-align: center;
        color: $color-secondary;
        background-color: rgba($color-primary-main, .9);
        opacity: 0;
        visibility: hidden;
        transition: opacity .3s .5s; // visibility causes text wrap issues
        z-index: 10;
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: 100;
    }

    &__site {
        flex: 1 0 30rem;
        position: relative;
        border-radius: 1rem;
        overflow: hidden;
        box-shadow: .3rem 0 .6rem rgba(black, .5);

        grid-row: 1 / 2;

        &:not(:last-of-type) { margin-right: .5rem;}

        &--minor {
            position: relative;
            flex: 1;
            border-radius: 1rem;
            height: 15rem;
            box-shadow: .3rem 0 .6rem rgba(black, .5);
            overflow: hidden;

            &:hover {
                .portfolio__minor--info {
                    opacity: 1;
                    visibility: visible;
                    width: 80%;
                }
                .portfolio__minor--links {
                    opacity: 1;
                    visibility: visible;
                    width: 25%;
                }
                
                .portfolio__site--name {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

        &--background {
            width: 100%;
            height: 100%;
            opacity: .4;
        }

        &--name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all .2s;
            z-index: 10;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 50%;
                max-width: 100%;
            }

            &--phys {

                color: black;
                text-shadow: .2rem 0 .4rem white;
                font-weight: bold;
                font-size: 4rem;

                &1 { animation: bulge 1s ease-in-out 0s; }
                &2 { animation: bulge 1s ease-in-out .15s; }
                &3 { animation: bulge 1s ease-in-out .3s; }
                &4 { animation: bulge 1s ease-in-out .45s; }
                &5 { animation: bulge 1s ease-in-out .6s; }
                &6 { animation: bulge 1s ease-in-out .75s; }
                &7 { animation: bulge 1s ease-in-out .90s; }
                &8 { animation: bulge 1s ease-in-out 1.05s; }
                &9 { animation: bulge 1s ease-in-out 1.20s; }
                &10 { animation: bulge 1s ease-in-out 1.35s; }
                &11 { animation: bulge 1s ease-in-out 1.50s; }
            }

            &--apollo {
                color: black;
                text-shadow: .2rem 0 .4rem white;
                font-weight: bold;
                font-size: 4rem;
            }
        }

        &--hover {
            position: absolute;
            top: 0;
            left: 200%;
            width: 100%;
            height: 100%;
            transition: all .2s;
            opacity: 0;
            display: flex;
        }

        &--detail {
            position: relative;
            margin: 1rem;
            background-color: rgba(200, 200, 200, .6);
            width: 100%;
            border-radius: 1rem;
            padding: 1rem;

            display: grid;
            grid-template: 1fr max-content / 1fr 1fr;
        }

        // &--bottom {
        //     position: absolute;
        //     bottom: 2rem;
        //     left: 2rem;
        //     right: 2rem;

        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        // }

        &--logo {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
            display: flex;
            justify-content: center;
            align-items: start;

            img {
                max-width: 100%;
            }
        }

        &--description {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
            
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: .1rem;
        }

        &--paragraph {
            &:not(:last-of-type) { margin-bottom: 1rem;}
        }

        &--skills {
            display: flex;
            flex-direction: column;
            grid-row: 1 / 2;
            grid-column: 2 / 3;

            &--small {
                display: flex;
                justify-content: end;
                align-items: center;
                
                & > * { padding: .5rem 1rem; }
                
                img { height: 5rem; }
            }
            
            &--long {
                display: flex;
                justify-content: end;
                align-items: center;
                
                & > * { padding: .5rem 1rem; }
                
                img { height: 4rem; }
            }
        }
        
        &--skill {

        }
        
        &--links {
            display: flex;
            flex-direction: column;
            grid-row: 2 / 3;
            grid-column: 2 / 3;
            justify-content: start;
            align-items: end;
            margin-bottom: 1rem;
            margin-right: 1rem;
        }

        &--link {
            font-size: 1.5rem;
            padding: .5rem 1rem;
            border: .1rem solid white;
            box-shadow: .2rem 0 .4rem rgba(black, .5);
            border-radius: .5rem;
            transition: all .2s;
            letter-spacing: .1rem;
            margin-right: 0rem;
            width: 16rem;
            text-align: center;

            a, a:active, a:visited {
                color: black;
                text-decoration: none;
            }

            &:hover {
                cursor: pointer;
                transform: translateY(-.2rem);
                box-shadow: .4rem 0 .8rem rgba(black, .7);
                background-color: rgba(white, .3);
            }

            &:not(:last-of-type) { margin-bottom: .5rem; }
        }

        
        &:hover {
            .portfolio__site--hover { 
                opacity: 1;
                left: 0; 
            }
            .portfolio__site--name {
                transform: translate(-200%, -50%);
            }
        }
    }
    
}


@keyframes bulge {
    0% { transform: scale(1); }
    50% { transform: scale(1.7); }
    100% { transform: scale(1); }
}