.video-popup {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    background-color: rgba(200, 200, 200, .8);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .2s;

    &__display { opacity: 1; visibility: visible; }
    &__hide { opacity: 0; visibility: hidden; }

    &__video {
        position: relative;
        background-color: $color-primary-light;
        box-shadow: .3rem 0 .6rem $color-secondary-dark;
        padding: 1rem;
        width: 100vh;
        border: .1rem solid black;
        z-index: 2000;
        
        &--video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @media screen and (orientation: landscape) and (max-height: 600px) {
            padding: 0;
            width: 100vw;
            height: 100vh;

            &--video {
                object-fit: contain;
            }
        }

        // video {
            // box-shadow: .1rem 0 .2rem $color-secondary-dark;
        // }
    }

    &__close {
        visibility: hidden;
        user-select: none;
        
        @media screen and (orientation: landscape) and (max-height: 600px) {
            visibility: visible;
            position: absolute;
            bottom: 3rem;
            right: 3rem;

            background-color: rgba($color-primary-light, .6);
            box-shadow: .2rem 0 .4rem rgba(black, .5);
            border-radius: 50%;
            height: 5rem;
            width: 5rem;
            transition: all .2s;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:hover {
                cursor: pointer;
                background-color: rgba($color-primary-light, 1);
                box-shadow: .3rem 0 .6rem rgba(black, .8);
                
                & > * { filter: invert(1); }
            }
            
            img {
                transition: all .2s;
                width: 3rem;
                height: 3rem;
            }
        }
    }

    &__playpause {
        position: absolute;
        
        background-color: rgba($color-primary-light, .6);
        box-shadow: .2rem 0 .4rem rgba(black, .5);
        border-radius: 50%;
        height: 8rem;
        width: 8rem;
        transition: all .2s;
        // padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        
        img {
            transition: all .2s;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba($color-primary-light, 1);
            box-shadow: .3rem 0 .6rem rgba(black, .8);

            & > * { filter: invert(1); }
        }
        
        &--play {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            img {
                width: 3rem;
                height: 3rem;
            }
        }
        
        &--pause {
            top: 3rem;
            left: 3rem;
            transform: translate(0, 0);
            height: 5rem;
            width: 5rem;
            font-size: 5rem;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }

}